@model Hero

<div>
    <h3> @Model.Name has been added.</h3>
</div>

@section Footer{
    <div class="mt-3 mb-3">
        @using (Html.BeginForm("MessageDeleted", "Hero"))
        {
            <h3 class="text-danger mt-2">Messages</h3>
            <button class="btn btn-primary" type="submit">Clear Messages</button>
            <ul>
                @foreach (string message in Repository.AllMessages)
                {
                    <li>@message</li>
                }
            </ul>
        }
    </div>
}